body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.square.x-player {
    color: green;
}
.square.o-player {
    color: blue;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 50px;
  border-left: 1px dashed black;
  padding-left: 10px;
}

.move-number {
    margin: 0 10px 0 5px;
    background: ghostwhite;
    width: 50px;
}

.hint-label {
    font-size: 12px;
}

.history-row.active {
    font-weight: bold;
}

.o-player {
    color: blue;
}

.x-player {
    color: green;
}

.status .x-player,
.status .o-player {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
}

.reorder-history {
    margin: 10px 0px;
}